@import 'src/index.scss';

::selection {
  background-color: #b4befe;
}

.stderr {
  color: #f38ba8;
}

* {
  font-size: 16px;
}

.tmux {
  .pane {
    .cmd-input-line {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      padding: 0.2rem;

      .cmd-input {
        background: none;
        outline: none;
        border: none;
        color: white;
        width: 100%;
        font-family: inherit;
      }
    }
  }
}


.cmdout {
  white-space: pre;
}

.path {
  color: white;
  background: #74c7ec;
  border-radius: 1.2rem;
  padding: 0.1rem 0.45rem;
  margin-right: 0.4rem;
  width: fit-content;
  @include unselectable
}

.time {
  font-size: 0.8rem;
  background-color: #9399b2;
  border-radius: 1.2rem;
  padding: 0.05rem 0.45rem;
  margin: 0.025rem 0.2rem;
  flex: none;
}

.text {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-break: break-word;
}

.command {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.2rem;
  width: 100%;
}
