.screen-block {
  width:  870px;
  height: 95px;
  display: block;
  overflow: hidden;
  background: black;
  

  .wrapper {
   margin: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
  }
  * {
    -webkit-font-smoothing: antialiased; /* For WebKit-based browsers */
    -moz-osx-font-smoothing: grayscale;  /* For Firefox on macOS */
    text-rendering: optimizeLegibility;

  }
}
