@import "prism-theme";
@import "variables";
html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  background: $primary-bg;
  color: $text-color;


  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
