@import 'variables';
@import 'mixins';
@import 'reset';


@mixin unselectable {
  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  user-select: none;
}

:root {
  --system-scrollbar-width: 8px;
  --system-animation-speed: 200ms;
  --system-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --scrollbar-track-color: #{$primary-bg};
  --scrollbar-thumb-color: #{$primary-color};
  --scrollbar-thumb-hover: #{$secondary-color};
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  background: $primary-bg;
  color: $text-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-content {
  flex: 1;
  margin-top: var(--navbar-height);
  overflow-y: auto;
  position: relative;
  height: calc(100dvh - var(--navbar-height));
  transition: all var(--system-animation-speed) var(--system-transition-timing);

  /* Webkit Scrollbar */
  &::-webkit-scrollbar {
    width: var(--system-scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 2px;
    border: 2px solid var(--scrollbar-track-color);

    &:hover {
      background: var(--scrollbar-thumb-hover);
    }
  }

  /* Firefox Scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

