@import "@/styles/global.scss";

.playground {
  background: $primary-bg;

  textarea,
  input.text,
  input[type="text"],
  input[type="button"],
  input[type="submit"],
  .input-checkbox {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
  }


}
