@import "@/styles/global.scss";
.screen-block {
  width: 1225px;
  height: 780px;
  position: relative;
  top: -40px;


  .wrapper {
    height: 100%;
    weight: 100%;
  }

  * {
    ::selection {
      background-color: $terminal-bg;
    }
  }
}
